@import "tailwindcss";

@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), Arial, Helvetica, sans-serif;
  
  --color-brand-light: #f7f9f2;
  --color-brand-green: #14351a;
  --color-brand-green-hover: #1e4d27;
  --color-brand-orange: #f28b03;
  --color-brand-orange-hover: #d17800;

  --color-background: var(--color-brand-light);
  --color-foreground: #222222;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-foreground);
}
